pipeline/Copy from Blob.json
{
	"name": "Copy from Blob",
	"properties": {
		"activities": [
			{
				"name": "Copy Data from blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "EMPLOYEE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EMPLOYEE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EMAIL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EMAIL",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PHONE_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PHONE_NUMBER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "HIRE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "HIRE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JOB_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "JOB_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SALARY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SALARY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COMMISSION_PCT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "COMMISSION_PCT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MANAGER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MANAGER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DEPARTMENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DEPARTMENT_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Employee",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Employee_Dest",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Loop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Employee",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Employee_SQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata of hrpsource",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_HRPSOURCE_BLOB",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata of hrpsource').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Process the data",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_source_blob",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Destination_Blob",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Archieving",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Process the data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_source_blob",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Archieve",
									"type": "DatasetReference",
									"parameters": {
										"Rename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete the files from source after processing",
							"type": "Delete",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Archieving",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_source_blob",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "LS_HRP_BLOB",
										"type": "LinkedServiceReference"
									},
									"path": "logs"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Name of the file",
								"value": {
									"value": "@{concat(substring(item().name,0,indexof(item().name,'.')),utcNow())}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Metadata of hrpsource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "index",
					"value": {
						"value": "@activity('Get Metadata of hrpsource').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"index": {
				"type": "Integer"
			},
			"Value": {
				"type": "String"
			},
			"Name of the file": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-21T07:11:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}